html {
    background-color: rgb(219, 212, 212);
}

.fej {
    position: relative;
}

.kep {
    position: relative;
    width: 100%;
}

.aru {
    position: relative;
    width: 100%;
    max-height: 1000px;
    background-color: rgb(245, 240, 240);
}

.aru1 {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 500px;
    max-width: 800px;
    background-color: rgb(245, 240, 240);
    border-radius: 20px;
}

.aru5 {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 500px;
  max-width: 800px;
  background-color: rgb(228, 223, 223);
  border-radius: 20px;
}


.akep {
    position: relative;
    max-width:500px;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-height: 450px;
    max-width: 700px;
    border-radius: 15px;
}

.szoveg {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 40px;
    max-width: 560px;
    color: white;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
}

.lablec {
    background-color: grey;
}
.lablec_szoveg{
    font-size: x-large;
    font-weight: bolder;
}

.aru2 {
    position: relative;
    display: block;
    margin: auto;
    height: 70%;
    background-color: rgb(245, 240, 240);
}

.akep2 {
    margin-top: 10px;
    position: relative;
    max-width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-height: 450px;
    max-width: 700px;
    border-radius: 15px;
}

.szoveg2 {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
}

.hr1 {
    border: 3px solid black;
    border-radius: 5px;
}

.gomb {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.gomb:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.gomb:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.gomb:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.gomb:focus {
  outline: 1px transparent;
}

.gomb:before {
  display: none;
}

.gomb:-webkit-details-marker {
  display: none;
}

.gombi  {
  display: flex;
  position: relative;
  max-width: 170px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.kosarba {
  max-width: 170px;
  max-height: 100px;
}

.gomb2 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.gomb2:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.gomb2:hover {
  background-color: #2c974b;
}

.gomb2:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.gomb2:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.gomb2:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.logo {
  width: 8%;
  margin-right: 10px;
}